body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.topContainer {
  background-color: #effcef;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin-bottom: 50px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.firstImg {
  width: 5%;
  display: block;
  margin-left: 300px;
  position: absolute;
  top: 30px;
}

h1 {
  color: #66BFBF;
  font-size: 5.62rem;
  margin: 50px auto 0 auto;
  position: relative;
  top: 20px;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #40514E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.topCloud {
  position: absolute;
  right: 450px;
  top: 50px;
}

.bottomCloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.profImg {
  width: 10%;
}

.webDevelopment {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.ethicalHacker {
  width: 30%;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.profile {
  margin: 50px auto 50px auto;
  line-height: 2;
}

.hello {
  margin-left: 20px;
  margin-bottom: 5px;
}

/*
.para1{
  clear: left;
}
*/
/*
.para2{
  clear: right;
}
*/
p {
  color: #40514E;
  font-weight: bold;
  line-height: 2;
}

hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 6px;
  width: 5%;
}

.ethicalHacking {
  margin-top: 150px;
}

hr {
  margin: 5rem auto 5rem auto;
}

.intro {
  margin-top: 0;
  width: 30%;
  margin: auto;
}

/* -------------------- Message Me Button --------------------------*/
.msgButton {
  background-color: #66BFBF;
  -webkit-border-top-left-radius: 28px;
  -moz-border-radius-topleft: 28px;
  border-top-left-radius: 28px;
  -webkit-border-top-right-radius: 28px;
  -moz-border-radius-topright: 28px;
  border-top-right-radius: 28px;
  -webkit-border-bottom-right-radius: 28px;
  -moz-border-radius-bottomright: 28px;
  border-bottom-right-radius: 28px;
  -webkit-border-bottom-left-radius: 28px;
  -moz-border-radius-bottomleft: 28px;
  border-bottom-left-radius: 28px;
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 140px;
  text-decoration: none;
  text-align: center;
}

.msgButton:hover {
  background-color: #0a97b0;
}

.msgButton:active {
  position: relative;
  top: 1px;
}

/*-------------------------------------------------------------------*/
.contact-message {
  margin-bottom: 40px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
  font-weight: lighter;
}
